<div class="row">
  <div class="col col-xs-12">
    <div class="card mb-3">
      <div class="card-header">
        <h4>Restaurants<button class="btn btn-primary btn-sm pull-right" routerLink="/owner/restaurants/create"> + Add
            Restaurant</button></h4>

      </div>
      <div class="card-body table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-hover table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Pic</th>
              <th>Name</th>
              <th>Store ID</th>
              <th>Created</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Menu</th>
              <th>Gallery</th>
            </tr>
          </thead>

          <tbody *ngIf="restaurantList.length > 0">

            <tr *ngFor="let restaurant of restaurantList; index as i;">
              <td scope="row">{{ i+1 }}</td>
              <td><img src="{{ pic_url+restaurant.restaurantpic}}" width="100"></td>
              <td>{{ restaurant.name}}</td>
              <td>{{ restaurant.id}}</td>
              <td>{{ restaurant.created_at}}</td>
              <td *ngIf="restaurant.status == 1; else elseBlock">
                <ui-switch checked defaultBgColor="red" (change)="changeStatus($event,restaurant.id)"></ui-switch>
              </td>
              <ng-template #elseBlock>
                <td>
                  <ui-switch defaultBgColor="red" (change)="changeStatus($event,restaurant.id)"></ui-switch>
                </td>
              </ng-template>

              <td><a routerLink="/owner/restaurants/edit/{{ restaurant.id}}" class="btn badge btn-primary btn-sm"><i
                    class="fa fa-pencil"></i> Edit</a> &nbsp;<a
                  routerLink="/owner/restaurants/detail/{{ restaurant.id}}" class="btn badge btn-warning btn-sm"><i
                    class="fa fa-eye"></i> view</a> &nbsp;
                <a routerLink="/owner/restaurants/discounts/{{ restaurant.id}}" class="btn badge btn-info btn-sm"> <i
                    class="fa fa-percent"></i> Discounts</a>

              </td>
              <td>
                <a routerLink="/owner/restaurants/menu/{{ restaurant.id}}" class="btn badge btn-warning btn-sm"
                  *ngIf="restaurant?.can_edit_menu == 1"><i class="fa fa-th-list" aria-hidden="true"></i> Menu</a>
                &nbsp;<a routerLink="/owner/restaurants/review/{{ restaurant.id}}" class="btn badge btn-info btn-sm"><i
                    class="fa fa-star" aria-hidden="true"></i>
                  Review</a>
                <a routerLink="/owner/restaurants/reservation-time/{{ restaurant.id}}"
                  class="btn badge btn-primary btn-sm" *ngIf="restaurant?.can_edit_reservation == 1"><i
                    class="fa fa-ticket" aria-hidden="true"></i> Reservation
                  Seat</a></td>
              <td><a routerLink="/owner/restaurants/gallery/{{ restaurant.id}}" class="btn badge btn-success btn-sm"><i
                    class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a>
                <a routerLink="/owner/restaurants/orders/{{ restaurant.id}}" class="btn badge btn-danger btn-sm"
                  style="background-color: #ff192f;" *ngIf="restaurant?.can_edit_order == 1"><i
                    class="fa fa-shopping-cart" style="font-size:16px;" aria-hidden="true"></i> Orders</a>
              </td>
            </tr>

          </tbody>
          <tbody *ngIf="restaurantList.length == 0">
            <tr>
              <td class="no-data-available" colspan="8">No matching records found</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>