#openTimeForm{
    padding: 10px;
}
#openTimeForm .row{
    padding: 10px;
}
// input.ng-valid{
//     border-left: 1px solid #ced4da !important
// }
a.paginate_button.current{
    background: #0d7bfe !important;
    color:#ffffff !important;
}