<main>
  <section class="inner-banner  " style="background-image:url(./assets/images/searh-detail.jpg);">
  </section>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/restaurant',res_id]">{{resDetail?.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Menu</li>
    </ol>
  </nav>

  <div class="sec sec-menu-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sec-heading  text-center ">
            <h2 class="heading-2 mb-0"><a [routerLink]="['/restaurant',res_id]"
                style="color: black;">{{resDetail?.name}}</a>
            </h2>
            <!-- <div class="dilvery-time text-center mt-1 mb-1">
              <label class="badge badge-warning">30-45 mins | @1.99 Delivery Fee</label>
            </div> -->
            <p class="unavailable mt-1 " *ngIf="!resOpened ">
              {{ 'Restaurant currently unavailable' | translate }}.
            </p>
          </div>


          <div class="row">
            <ul class="menu-pics d-flex mt-5 mb-5">

              <li *ngFor="let item of galleryImgs"><img src="{{filePath}}{{item.image}}" alt=""></li>
              <div class="show-all gallery-img " *ngIf="galleryImgs?.length > 0">
                <a [routerLink]="['/gallery',res_id]" class="btn btn-global"
                  *ngIf="galleryImgs.length > 3">{{'See All'|translate}}</a>
              </div>
            </ul>

          </div>

          <div class="row">
            <div class="col-md-7">
              <div class="sec-menu-list">
                <div class="card card-menu">
                  <div class="card-body">

                    <div class="menu-bx" *ngFor="let group of menu">
                      <ng-container *ngIf="group.isAvailable">
                        <h3 id={{group.groupid}} *ngIf="group.items.length > 0">{{group.name}}</h3>
                        <div class="menu-bx-list cart-info" *ngIf="group.items.length > 0">
  
                          <ng-container *ngFor="let item of group.items">
                            <ng-container *ngIf="item.is_show">
                              <div class="mb-2 row item-row">
    
                                <div class="col-sm-1" style="padding: 0px;">
                                  <img class="menu-img" alt="restaurant-image " src="{{filePath+item?.item_pic}}"
                                    *ngIf="item?.item_pic && item?.item_pic != 'null' else noimage">
                                  <ng-template #noimage>
                                    <img class="menu-img" alt="restaurant-image " src="assets/images/menu-image1.png">
                                  </ng-template>
                                </div>
                                <div class="col-sm-9 content">
                                  <p>{{item?.item_name}}</p>
                                  <span *ngIf="item?.item_des">{{item?.item_des}}</span>
                                </div>
    
                                <div class="col-sm-2 price-group">
                                  <span style="display: block;">{{item.item_price | currency }}
                                  </span>
                                  <div *ngIf="(item.item_quantity==null || item.item_quantity > 0) else notAvail">
    
                                    <a href="javascript:void(0)" class="addItem" *ngIf=" resOpened"
                                      (click)="showCustomization(item.item_id, item.customizations,item.item_name,item.item_price,item.is_note)">{{'Add' | translate}}+</a>
    
                                    <!-- <div class="input-group number-spinner"
                                      *ngIf="alreadyItems.includes(item.item_id) && resOpened">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" data-dir="dwn"
                                          (click)="itemDecre(item.item_id)"><span class="fa fa-minus"></span></button>
                                      </span>
                                      <input type="text" class="form-control text-center"
                                        value="{{getQuantity(item.item_id)}}" readonly>
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" data-dir="up"
                                          (click)="itemIncre(item.item_id,item.item_quantity)"><span
                                            class="fa fa-plus"></span></button>
                                      </span>
                                    </div> -->
                                  </div>
    
                                  <ng-template #notAvail>
    
                                    <span style="font-size:12px">{{'Out of stock'|translate}}</span>
    
                                  </ng-template>
                                </div>
    
                              </div>
                            </ng-container>
  
                          </ng-container>
                          <!-- </ul> -->
                        </div>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 mt-4 mt-md-0 " *ngIf="resOpened">
              <div class="sec-menu-total box-shadow">
                <div class="card card-total">
                  <div class="card-header">
                    <ul class="list-unstyled m-0 pb-2 pt-2 total-ul" *ngFor="let item of cart; let i = index">
                      <li>
                        <span class="item_name">{{item.itemName}} </span>
                        <!-- <strong><span class='item_qua'>
                            {{item.quantity }}</span>{{item.itemPrice * item.quantity  |currency}}
                        </strong> -->
                        <div class="cart-info">
                          <!-- alreadyItems.includes(item.itemId) && -->
                          <div class="input-group number-spinner" *ngIf=" resOpened" style="bottom: -5px;
                            ">
                            <span class="input-group-btn">
                              <button class="btn btn-default" data-dir="dwn" (click)="itemDecre(item.itemId,i)"><span
                                  class="fa fa-minus"></span></button>
                            </span>
                            <input type="text" class="form-control text-center" value="{{getQuantity(item.itemId,i)}}"
                              readonly>
                            <span class="input-group-btn">
                              <button class="btn btn-default" data-dir="up"
                                (click)="itemIncre(item.itemId,null,i)"><span class="fa fa-plus"></span></button>
                            </span>
                          </div>
                        </div>
                        <span>{{item.itemPrice * item.quantity  |currency}}</span>
                      </li>
                      <h5 *ngIf="item.customization && item.customization.length > 0 ">{{ item.customization | getCus}}
                      </h5>

                      <label class="item-note" *ngIf="item.note && item.note != ''">{{ 'Note' | translate}} :-
                        {{item.note}}</label>
                    </ul>

                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled m-0 total-ul">
                      <li><span>{{'Food Tax' |translate}}</span><span>{{foodTax|currency}}</span></li>
                      <li><span>{{'Drink Tax'|translate}}</span><span>{{drinkTax|currency}}</span></li>
                      <li><span>{{'City Tax'|translate}}</span><span>{{grandTax|currency}}</span></li>
                      <!-- <li><span>{{'Convenience Fee'|translate}}</span><span>{{convenienceFee|currency}}</span></li> -->
                    </ul>
                    <ul class="list-unstyled m-0 total-ul">
                      <li><strong>{{'Subtotal'|translate}}</strong><strong>{{subtotal|currency}}</strong></li>
                    </ul>
                    <ul class="list-unstyled m-0 total-ul">
                      <li><strong>{{'Total'|translate}}</strong><strong>{{total|currency}}</strong></li>
                    </ul>
                  </div>
                </div>
                <button href="javascript:void(0)" class="btn btn-block btn-global" [disabled]="this.cart.length < 1"
                  (click)="updateCart()">{{'Checkout' | translate}}</button>
                <button href="javascript:void(0)" class="btn btn-block btn-danger" [disabled]="this.cart.length < 1"
                  (click)="clearCart()">{{'Clear Cart'|translate}}</button>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</main>

<div class="modal fade menu-popup" id="customizationModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 d-block">
        <h2 class="text-uppercase">{{itemName}}<small>{{itemPrice|currency}}</small></h2>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <img src="assets/images/close.svg" alt="">
        </button>
      </div>
      <div class="modal-body">
        <div class="custom-btn-input" style="text-align: left;" *ngFor="let ele of itemCustomization; index as i">
          <h4 id=customization_{{ele.cusid}}>{{ele.name}} 
            <span> (Max {{ele.max}})</span>
          </h4>
          <label *ngFor="let item of ele.items">
            <input type="checkbox" name="options_{{ele.cusid}}"
              (change)="addOptions($event,item.option_name,item.option_price,item.ci_id, i)" [disabled]="ele.max==ele.selectedCount && !maxObj[item.ci_id]">
            <span>{{item.option_name}} (+{{item.option_price|currency}})</span>
          </label>
        </div>
        <hr *ngIf="itemCustomization?.length > 0">
        <div class="row" *ngIf="isNoteItem">
          <div class="col-sm-12">
            <div class="form-group">
              <h4 class="mt-2">{{ 'Special Note' | translate}}</h4>
              <textarea class="form-control" id="" rows="3" [(ngModel)]="specialNotes"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 text-center">
        <button type="button" class="btn btn-global text-uppercase ml-auto mr-auto" data-dismiss="modal"
          (click)="addProductToCart()">{{'Add'|translate}}</button>
      </div>
    </div>
  </div>
</div>