.upload-div{
    margin-top:50px; 
}
.col-sm-2 {
    padding: 0px;
}
.col-sm-2 span{
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}
.col-sm-2 img{
    padding: 15px
}
.gallery-div{
    cursor: pointer;
}