<div class="login-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 login-bg">
        <div class="login-image"><img src="assets/images/login-bg.jpg" alt="" /></div>
        <a href="#" class="login-logo"><img src="assets/images/logo.png" alt="" /></a>
      </div>
      <div class="col-md-6 login-form">
        <div class="lang-chg-drop">
          <a [routerLink]="[ '/' ]" class="text-dark"><b>zabor</b></a>
          <app-lang-change></app-lang-change>
        </div>
        <div class="login-box">
          <h2>{{'Reset Password' | translate}}</h2>
          <form role="form" [formGroup]="resetform" (ngSubmit)="onSubmit()">
            <div class="form-field">
              <input type="password" class="form-control input-underline input-lg" id="password"
                formControlName="password" placeholder="{{ 'Password'  }}" />
              <span class="form-icon"><img src="assets/images/password-icon.svg" alt="" /></span>
            </div>
            <span class="text-danger" *ngIf="
                              !resetform.controls['password'].valid &&
                              resetform.controls['password'].touched &&
                              resetform.controls['password'].hasError(
                                  'required'
                              )
                          ">Password is required.</span>
            <span class="text-danger" *ngIf="
                              !resetform.controls['password'].valid &&
                              resetform.controls['password'].touched &&
                              resetform.controls['password'].hasError(
                                  'minlength'
                              ) &&
                              !resetform.controls['password'].hasError(
                                  'required'
                              )
                          ">Password requires atleast 6 characters.</span>

            <div class="form-field">
              <input type="password" class="form-control input-underline input-lg" id="confirmPassword"
                formControlName="confirmPassword" placeholder="{{ 'Repeat Password'  }}" />
              <span class="form-icon"><img src="assets/images/password-icon.svg" alt="" /></span>
            </div>
            <span class="text-danger" *ngIf="
                          !resetform.controls['confirmPassword'].valid &&
                          resetform.controls['confirmPassword']
                              .touched &&
                          resetform.controls['confirmPassword'].hasError(
                              'required'
                          )
                      ">Password is required.</span>
            <span class="text-danger" *ngIf="
                          !resetform.controls[
                              'confirmPassword'
                          ].hasError('required') &&
                          !resetform.controls['confirmPassword'].valid &&
                          resetform.controls['confirmPassword']
                              .touched &&
                          resetform.controls['confirmPassword'].hasError(
                              'mustMatch'
                          )
                      ">Passwords must match.</span>


            <div class="form-field">
              <input [disabled]="!resetform.valid" class="btn rounded-btn" type="submit" value="Reset Password" />
            </div>
          </form>
          <p class="form-text">
            <a [routerLink]="['/login']">
              <i class="fa fa-angle-left mr-2" aria-hidden="true"></i>{{'Back to Login' | translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>