<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-lg-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Forget Password</h1>
      <p *ngIf="errorMessage != ''" class="text-danger"> {{errorMessage}} </p>

      <form [formGroup]="forgetPassword" (ngSubmit)="onSubmit()" role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" id="email" formControlName="email" class="form-control input-underline input-lg"
              placeholder="Email" maxlength="40">
            <span class="text-danger"
              *ngIf="!forgetPassword.controls['email'].valid && forgetPassword.controls['email'].touched && forgetPassword.controls['email'].hasError('required') ">Email
              is required.</span>
            <span class="text-danger"
              *ngIf="!forgetPassword.controls['email'].hasError('required') && !forgetPassword.controls['email'].valid && forgetPassword.controls['email'].touched && forgetPassword.controls['email'].hasError('email') ">Email
              is invalid.</span>
          </div>
        </div>
        <button [disabled]="!forgetPassword.valid" class="btn rounded-btn" type="submit">Submit</button>
        &nbsp;
        <button class="btn rounded-btn" [routerLink]="['/owner/login']">Login</button>

      </form>
    </div>
  </div>
</div>