<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>Reservartion Detail</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Restaurant Name</td>
            <td>{{reservationDetail.res_name}}</td>
          </tr>
          <tr>
            <td>User Name</td>
            <td>{{reservationDetail.user_name}}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{formatedDate(reservationDetail.date)}}</td>
          </tr>
          <tr>
            <td>Time Slot</td>
            <td>{{reservationDetail.time}}</td>
          </tr>
          <tr>
            <td>No. of people</td>
            <td>{{reservationDetail.people}}</td>
          </tr>
          <tr>
            <td>Reservation Created Date</td>
            <td>{{formatedDate(reservationDetail.created_date)}}</td>
          </tr>
          <tr>
            <td>Card No.</td>
            <td>**** **** **** {{cardDetail}}</td>
          </tr>
          <tr *ngIf="isAdmin">
            <td>Stripe Id</td>
            <td> {{stripeId}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>