<main>
  <!-- <section class="inner-banner overlay search-banner">
  </section> -->

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/restaurant',res_id]">{{res_name}}</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/menu',res_id]">Menu</a></li>
      <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    </ol>
  </nav>

  <section class="sec sec-billing-wrap">

    <div class="container">
      <h4 class="text-danger text-center" *ngIf="!resAvailable">{{'Restaurant is not available' | translate}}</h4>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mb-5" *ngIf="!isLoggedIn">
          <p class="mb-1">{{'Returning customer? Click here to' | translate}} <a
              [routerLink]="['/login']">{{'Login' | translate}}</a></p>
          <span>{{'Please log in to avail offers' | translate}}</span>
        </div>

        <div class="col-lg-6">


          <div [ngStyle]="{'display':!showallAddress ? 'block' : 'none' }">
            <h3>{{'Billing Details'| translate}}</h3>
            <ul class="saved-card-list" style="width: 100%;">
              <li class="box-shadow">
                <div class="address-div">

                  <h4><i class="fa fa-check-circle text-success" style="font-size: 18px;"></i>&nbsp;
                    <span>{{selectedAddress?.firstname}}</span>&nbsp;<span>{{selectedAddress?.lastname}}</span>
                    <!-- <span>( {{selectedAddress?.distance}} Km )</span> -->
                  </h4>
                  <h6>{{selectedAddress?.houseno}} , {{selectedAddress?.address}} , {{selectedAddress?.city}}
                  </h6>
                  <h6>{{'Contact No'| translate}}. - {{selectedAddress?.phone}}</h6>
                  <span class="text-danger"
                    *ngIf="selectedAddress?.distance > DelieverydistanceLimit">{{'Delivery is not available at this location ' | translate }}
                  </span>
                </div>
              </li>
            </ul>
            <p class="globel-text" (click)="selectAddress()"> {{'Select Diffrent Address'| translate}} </p>

          </div>

          <div [ngStyle]="{'display':showallAddress ? 'block' : 'none' }">
            <div class="billing-left" *ngIf="!addAddress">
              <h3>{{'Select Address'| translate}} </h3>
              <ul class="saved-card-list" style="width: 100%;">

                <li *ngFor="let item of userAddress" class="box-shadow {{item?.distance}}">
                  <div class="address-div">
                    <h3 style="font-size: 16px;">
                      <span>{{item.firstname}}</span>&nbsp;<span>{{item.lastname}}</span>
                      <!-- <span>( {{item?.distance}} Km )</span> -->
                      &nbsp;<p class="globel-text text-success pull-right" (click)="changeAddress(item.id)"
                        *ngIf="selectedAddress.id != item.id else showSelected">
                        {{'Select'| translate}} <span>+</span></p>
                      <ng-template #showSelected>
                        <p class="globel-text text-success pull-right "><i class="fa fa-check-circle text-success"></i>
                        </p>
                      </ng-template>
                    </h3>
                    <h6>{{item.houseno}} , {{item.address}} , {{item.city}}
                    </h6>
                    <h6>Contact No. - {{item.phone}}</h6>

                    <span class="text-danger"
                      *ngIf="item?.distance > DelieverydistanceLimit">{{'Delivery is not available at this location' | translate }}
                    </span>
                  </div>
                </li>
                <p class="globel-text" (click)="AddNewAddress()"> + {{'Add New'|translate}}</p>

              </ul>
            </div>
            <div [ngStyle]="{'display':addAddress ? 'block' : 'none' }">
              <h3>{{'Add Billing Address'| translate}}</h3>

              <form [formGroup]="addressForm" (ngSubmit)="onSubmitAddress()">
                <input type="hidden" formControlName="id">
                <div class="col-md-12">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label>{{'First Name'| translate}}</label>
                      <input type="text" class="form-control" placeholder="Lorem" formControlName="firstname">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['firstname'].valid &&
                    addressForm.controls['firstname']
                        .touched 
                ">{{'Firstname is invalid'| translate}}</span>
                    </div>
                    <div class="form-group col-md-6">
                      <label>{{'Last Name'| translate}}</label>
                      <input type="text" class="form-control" placeholder="Lorem" formControlName="lastname">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['lastname'].valid &&
                    addressForm.controls['lastname']
                        .touched 
                ">{{'Lastname is invalid'| translate}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="form-group col-md-6">
                    <label>{{'Country'| translate}}</label>
                    <input type="text" class="form-control" placeholder="Lorem" formControlName="country">
                    <span class="text-danger" *ngIf="
                    !addressForm.controls['country'].valid &&
                    addressForm.controls['country']
                        .touched 
                ">{{'Country is invalid'| translate}}</span>
                  </div> -->
                    <div class="form-group col-md-6">
                      <label>{{'Email'| translate}}</label>
                      <input type="email" class="form-control" placeholder="Lorem@abc.com" formControlName="email">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['email'].valid &&
                    addressForm.controls['email']
                        .touched 
                ">{{'Email is invalid'| translate}}</span>
                    </div>
                    <div class="form-group col-md-6">
                      <label>{{'Phone'| translate}}</label>
                      <input type="text" class="form-control" placeholder="Lorem" formControlName="phone">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['phone'].valid &&
                    addressForm.controls['phone']
                        .touched 
                ">{{'Phone is invalid'| translate}}</span>
                    </div>

                    <!-- </div>

                <div class="row"> -->
                    <div class="form-group col-md-6">
                      <label>{{'City'| translate}}</label>
                      <input type="text" class="form-control" placeholder="City" formControlName="city">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['city'].valid &&
                    addressForm.controls['city']
                        .touched 
                ">{{'City is invalid'| translate}}</span>
                    </div>
                    <!-- <div class="form-group col-md-6">
                    <label>{{'Postcode'| translate}}</label>
                    <input type="text" class="form-control" placeholder="01 011 011 0111" formControlName="pincode">
                    <span class="text-danger" *ngIf="
                      !addressForm.controls['pincode'].valid &&
                      addressForm.controls['pincode']
                          .touched 
                  ">{{'Pincode is invalid'| translate}}</span>
                  </div> -->
                  </div>

                  <div class="row">
                    <div class="form-group col-md-4">
                      <label>{{'House No.'| translate}}</label>
                      <input type="text" class="form-control" placeholder="House No." formControlName="houseno">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['houseno'].valid &&
                    addressForm.controls['houseno']
                        .touched 
                ">{{'House No. is invalid'| translate}}</span>
                    </div>
                    <div class="form-group col-md-8">
                      <label>{{'Address'| translate}}</label>
                      <input type="text" class="form-control" formControlName="address" placeholder="Address">
                      <span class="text-danger" *ngIf="
                    !addressForm.controls['address'].valid &&
                    addressForm.controls['address']
                        .touched 
                ">{{'Address is invalid'| translate}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Choose your address on Map*</label>
                        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"
                          type="text" class="form-control auto-location" #search [formControl]="searchControl">
                      </div>
                      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="chooseLocation($event)" [zoom]="zoom">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <button class="btn btn-ad-card btn-global" type="submit"
                      [disabled]="!addressForm.valid">Submit</button>
                    <button class="btn btn-ad-card btn-danger ml-2" (click)="hideAddAddress()"
                      *ngIf="isLoggedIn">Cancel</button>
                  </div>

                </div>
              </form>
            </div>
          </div>

          <app-offers [(offers)]="Offers" *ngIf="Offers.length > 0 && isLoggedIn" (childEvent)="selectedOffer($event)"
            [showApply]="1" #offerComp></app-offers>

        </div>

        <div class="col-lg-6">
          <div class="billing-right">
            <h3>{{'YOUR ORDER'| translate}}<button class="btn btn-warning pull-right"
                [routerLink]="['/menu',res_id]">{{'Edit Order'| translate}}</button></h3>
            <div class="order-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{'Product'| translate}}</th>
                    <th>{{'Quantity'| translate}}</th>
                    <th>{{'Total'| translate}}</th>
                  </tr>
                </thead>

                <tbody>

                  <tr *ngFor="let item of cart">
                    <td>
                      {{item.itemName}}
                      <h5 *ngIf="item.customization && item.customization.length > 0 ">{{ item.customization | getCus}}
                      </h5>
                      <b class="item-note" *ngIf="item.note && item.note != ''">Note :- {{item.note}}</b>
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.itemPrice * item.quantity | currency}}</td>
                  </tr>

                  <tr class="less-padding">
                    <td colspan="2"><b>{{'Food Tax'| translate}}</b></td>
                    <td><b>{{extras?.food_tax |currency}}</b></td>
                  </tr>
                  <tr class="less-padding">
                    <td colspan="2"><b>{{'Drink Tax'| translate}}</b></td>
                    <td><b>{{extras?.drink_tax |currency}}</b></td>
                  </tr>
                  <tr class="less-padding">
                    <td colspan="2"><b>{{'City Tax'| translate}}</b></td>
                    <td><b>{{extras?.tax |currency}}</b></td>
                  </tr>
                  <!-- <tr class="less-padding">
                    <td colspan="2"><b>{{'Convenience Fee'| translate}}</b></td>
                    <td><b>{{convenience_fee |currency}}</b></td>
                  </tr> -->
                  <tr class="less-padding">
                    <td colspan="2"><b>{{'Subtotal'| translate}}</b></td>
                    <td><b>{{extras?.subtotal |currency}}</b></td>
                  </tr>
                  <tr class="less-padding">
                    <td colspan="2"><b>{{'Total'| translate}}</b></td>
                    <td><b>{{amountAfterTax |currency}}</b></td>
                  </tr>
                </tbody>

                <tfoot>

                  <tr *ngIf="discountAmmount != 0">
                    <td colspan="2">{{'Discount'| translate}}</td>
                    <td> -{{discountAmmount |currency}}<button class="btn btn-danger btn-sm remove-dis"
                        (click)="RemoveDis()">{{ 'REMOVE' | translate}}</button>
                    </td>
                  </tr>
                  <tr *ngIf="delivery_mode == 1" class="less-padding">
                    <td colspan="2"><b>{{'Delivery Charges' | translate}}</b></td>
                    <td><b>{{delivery_charge |currency}}</b></td>
                  </tr>
                  <tr>
                    <td colspan="2">{{'Total'| translate}}</td>
                    <td>{{ (total-discountAmmount)  |currency}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div>
              <h3>{{'Delivery Type' | translate}}</h3>
              <label class="radio-container">{{'Home Delivery'| translate}} ({{delivery_charge | currency}})
                <input type="radio" value="1" [(ngModel)]="delivery_mode"
                  (change)="delivery_modeChange($event.target.value)" name="delivery_mode">
                <span class="checkmark"></span>
              </label>
              <label class="radio-container">{{'Pick Up'| translate}}
                <input type="radio" value="2" [(ngModel)]="delivery_mode"
                  (change)="delivery_modeChange($event.target.value)" name="delivery_mode">
                <span class="checkmark"></span>
              </label>
              <label class="radio-container">Dine
                <input type="radio" value="3" [(ngModel)]="delivery_mode"
                  (change)="delivery_modeChange($event.target.value)" name="delivery_mode">
                <span class="checkmark"></span>
              </label>
              <div class="dine" *ngIf="delivery_mode==3">
                <label for="">Table Number: </label>&nbsp;&nbsp;
                <input type="number" min=1 [(ngModel)]="tb_num">
              </div>
            </div>

            <div>
              <h3>{{'Payment' | translate}} </h3>
              <div>
                <label class="radio-container">ATH
                  <input type="radio" value="0" [(ngModel)]="payment_mode"
                    (change)="payment_modeChange($event.target.value)" name="payment_mode">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="radio-container">{{'Stripe Credit Card'| translate}} (visa/MasterCard)
                  <input type="radio" value="1" [(ngModel)]="payment_mode"
                    (change)="payment_modeChange($event.target.value)" name="payment_mode">
                  <span class="checkmark"></span>
                </label>
                <div class="stripe-sec" [ngClass]="{'hide': payment_mode != '1'}">
                  <form>
                    <div #cardElement>
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display Element errors. -->
                    <p class="text-danger">{{ cardErrors }}</p>

                  </form>
                </div>
              </div>

              <!-- <div>
                <label class="radio-container">{{'Authorize Net'| translate}}
                  <input type="radio" value="3" [(ngModel)]="payment_mode"
                    (change)="payment_modeChange($event.target.value)" name="payment_mode">
                  <span class="checkmark"></span>
                </label>
                <div [ngClass]="{'hide': payment_mode != '3'}">
                  <form [formGroup]="Anetform" class="anet-form">

                    <div class="row">
                      <div class="form-group col-sm-12"
                        [ngClass]="(Anetform.controls['creditCard'].valid) ? 'has-success':'has-error'">
                        <label>{{'CARD NUMBER'| translate}}</label>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-credit-card"></i></span>
                          </div>
                          <input id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number"
                            ccNumber class="form-control pt-0 pb-0" #ccNumber="ccNumber">
                          <span class="scheme" [ngSwitch]="(ccNumber.resolvedScheme$ | async)">
                            <i class="form-control-feedback fa fa-cc-visa" *ngSwitchCase="'visa'"></i>
                            <i class="form-control-feedback fa fa-cc-mastercard" *ngSwitchCase="'mastercard'"></i>
                            <i class="form-control-feedback fa fa-cc-amex" *ngSwitchCase="'amex'"></i>
                            <i class="form-control-feedback fa fa-cc-diners-club" *ngSwitchCase="'dinersclub'"></i>
                            <i class="form-control-feedback fa fa-cc-discover" *ngSwitchCase="'discover'"></i>
                            <i class="form-control-feedback fa fa-cc-jcb" *ngSwitchCase="'jcb'"></i>
                         <!-- <i class="form-control-feedback fa fa-credit-card" *ngSwitchDefault></i> 
                          </span>
                          <!-- <span class=""><i class="form-control-feedback fa fa-cc-mastercard"></i></span> 
                        </div>
                      </div>

                      <div class="form-group col-sm-6"
                        [ngClass]="(Anetform.controls['expirationDate'].valid) ? 'has-success':'has-error'">
                        <label>{{'EXP MONTH'| translate}}</label>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                          </div>
                          <input id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp"
                            ccExp class="form-control pt-0 pb-0">
                        </div>
                      </div>

                      <div class="form-group col-sm-6"
                        [ngClass]="(Anetform.controls['cvc'].valid) ? 'has-success':'has-error'">
                        <label>{{'CARD CVC'| translate}}</label>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                          </div>
                          <input id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCvc
                            class="form-control pt-0 pb-0">
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div> -->


              <div *ngIf="allowCod == 1">
                <label class="radio-container">{{'Cash on delivery'| translate}}
                  <input type="radio" value="2" [(ngModel)]="payment_mode"
                    (change)="payment_modeChange($event.target.value)" name="payment_mode">
                  <span class="checkmark"></span>
                </label>
              </div>

            </div>

          </div>
          <div [ngClass]="{'hide': payment_mode == '0'}">
            <button type="submit" class="btn btn-global text-uppercase d-block place-order-button pull-right mt-5"
              (click)="buy($event)"
              [disabled]="btnDisable || !resAvailable || (min_order_value && amountAfterTax-discountAmmount < min_order_value) || (max_order_value && amountAfterTax-discountAmmount > max_order_value)"
              *ngIf="resAvailable">{{'PLACE ORDER'| translate}}
              {{(total-discountAmmount).toFixed(2) | currency}}</button>
          </div>
          <div style="margin: 20px;" [ngClass]="{'hide': payment_mode != '0'}" id="ATHMovil_Checkout_Button">
          </div>
          <div>
            <b class="text-danger "
              *ngIf="min_order_value && amountAfterTax-discountAmmount < min_order_value">{{'Min Order Amount'| translate}}
              {{min_order_value | currency}}
              {{'required' | translate}}</b>
            <b class="text-danger "
              *ngIf="max_order_value &&  amountAfterTax-discountAmmount > max_order_value">{{'Max Order Amount'| translate}}
              {{max_order_value | currency}}
              {{'required' | translate}}</b>
          </div>
        </div>
      </div>
    </div>

  </section>



</main>