ul.notification{
    list-style: none;  
    padding: 0px;
  }
  span.notification-img{
      margin-right:10px
  }
  .notification-img img {
      width: 50px;
  }
  
  .notification-body a{
      text-decoration: none;
      color: black;
  }