$topnav-background-color: #226388;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .header-profile-pic{
        width: 30px;
        border-radius: 50%;
    }
    .forget-password{
        padding: 30px;
    }
}
.nav-profile{
    position: absolute;
    right: 60px;
    top: -2px;
    display: block;
}

.nav-profile .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

@media only screen and (max-width: 991px) {
    nav img.navbar-logo {
        float: none;
    }
  }
